@font-face {
    font-family: Helvetica;
    src: url("fonts/Helvetica-Bold.otf");
}
@font-face {
    font-family: CMU;
    src: url("fonts/cmunci.otf");
}
body {
    margin: 20px;
    background-color: #30353b;
}

h1 {
    font-family: "Helvetica";
    font-size: 50px;
    color: #bcebcb;
}

a {
    color: #87d68d;
}

h2 {
    font-family: "CMU";
    font-size: 30px;
    color: #f7fff6;
}

p {
    font-family: "CMU";
    font-size: 20px;
    color: #f7fff6;
}
